<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganarstudio.LibrariesAndroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ganarstudio.LibrariesAndroid.SlideDatePicker"></activity>
        <activity android:name="com.ganarstudio.LibrariesAndroid.Balloon" />
        <activity android:name="com.ganarstudio.LibrariesAndroid.MotionToast" />
        <activity android:name="com.ganarstudio.LibrariesAndroid.FlipDigitClock" />
        <activity android:name="com.ganarstudio.LibrariesAndroid.DeterminateProgressView" />
        <activity android:name="com.ganarstudio.LibrariesAndroid.ProgressView" />
        <activity android:name="com.ganarstudio.LibrariesAndroid.SimpleSliderActivity" />
        <activity android:name="com.ganarstudio.LibrariesAndroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>