<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganarstudio.LibrariesAndroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ColoredShadowImageViewLibrary"></activity>
        <activity android:name=".AndroidToggleLibrary" />
        <activity android:name=".CountryCurrencyPickerLibrary" />
        <activity android:name=".StyleableToastLibrary" />
        <activity android:name=".DropDownViewTxt" />
        <activity
            android:name=".TextHighlighter"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity android:name=".SlideDatePicker" />
        <activity android:name=".Balloon" />
        <activity android:name=".MotionToast" />
        <activity android:name=".FlipDigitClock" />
        <activity android:name=".DeterminateProgressView" />
        <activity android:name=".ProgressView" />
        <activity android:name=".SimpleSliderActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>